<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <tbody>
            <tr>
                <th>标题</th>
                <td colspan="4">
                    <div class="detail-remark">[[${notice.title}]]</div>
                </td>
            </tr>
            <tr>
                <th>内容</th>
                <td th:text="${notice.content}" colspan="4"></td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td th:text="${#dates.format(notice.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>

            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>