<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="C端后台管理系统" />
    <meta name="keywords" content="C端, C端后台管理系统, SpringBoot, Jpa, Thymeleaf, Shiro" />

    <link rel="shortcut icon" th:href="@{/mo-favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/plugins/font-awesome-4.7.0/css/font-awesome.min.css}"  media="all">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.3.0/css/layui.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/main.css}"  media="all">
    <title>会员管理和会员注册</title>
</head>
<style>
    .layui-form .layui-form-item .layui-form-label{
        width:140px;
    }
</style>
<body>
<div style="margin: 200px auto;width: 300px;height: 200px;border: #8D8D8D solid 1px">
    <h4 style="height: 30px;background-color: #8D8D8D;text-align: center;line-height: 30px;">用户注册失败</h4>
    <p style="text-align: center ;font-size: 12px;margin-top: 5px" th:text="${msg}"></p>
</div>

<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree_v3/js/jquery.ztree.core.min.js}"></script>


</body>
</html>