<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="layui-form-item" style="margin-top: 20px;">
    <label class="layui-form-label">我的积分：</label>
    <div class="layui-input-inline" style="width: 300px;">
        <input type="text" id="tgLinkText"  class="layui-input" th:value="${integral.point}">
    </div>
    <button type="button" class="layui-btn" id="submitPoint">提现</button>
</div>

<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery.mousewheel.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/clipboard.min.js}"></script>
<script>
    layui.use(['layer'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        //选择店铺
        $("#submitPoint").click(function () {
            window.layerIndex = layer.open({
                content: ['/userCenter/submitPoint', 2]
                , type: 2
                , title: '积分提现'
                , area: ['500px', '300px']
            });
        });
    });

</script>
</body>
</html>