<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
</head>
<body>
<style>
    .layui-form .layui-form-item .layui-form-label {
        width: 120px;
    }

    .upload-img {
        width: 80px;
        height: 80px;
        border: 0;
        padding-right: 2px;
    }
</style>
<div class="layui-form timo-compile">
    <form >
        <input type="hidden" name="remoteUrl" id="remoteUrl" th:value="${remoteUrl}">
        <input type="hidden" id="taskId" th:value="${id}">
        <div class="layui-form-item">
            <div class="layui-upload">
                <label class="layui-form-label ">付款凭证</label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn" id="payPic">上传图片</button>
                    <blockquote  style="margin-top: 5px;">
                        <div class="layui-upload-list" id="payPicImg"></div>
                    </blockquote>
                    <input type="hidden" name="payPic"  id="payPicText" />
                </div>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i>提交</button>
        </div>

    </form>
</div>

<script th:replace="/common/template :: script"></script>
<script type="text/javascript"  th:inline="none">
    layui.use(['jquery','upload','table','layer'], function () {
        var $ = layui.jquery;
        var upload = layui.upload;
        var table = layui.table;
        var layer = layui.layer;
        var remoteUrl=$("#remoteUrl").val();
        //支付凭证上传
        var payPic = upload.render({
            elem: '#payPic'
            ,field: 'picture'
            ,multiple: true
            ,exts: 'jpg|png|gif|jpeg'
            ,url: remoteUrl+'/upload/picture' //改成您自己的上传接口
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#payPicImg').append('<img src="'+ result +'" alt="'+ file.name +'" class="upload-img">')
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code == 200){
                    var path=res.data.path;
                    var oldPath=$("#payPicText").val();
                    var newPath="";
                    if(oldPath!=''){
                        newPath=oldPath +","+path
                    }else{
                        newPath=path;
                    }
                    $("#payPicText").val(newPath);
                    return layer.msg('上传成功!');
                }else{
                    return layer.msg(res.msg);
                }
            }
            ,error: function(){
            }
        });


        //更新任务状态
        $('.ajax-submit').click(function(){
          var taskId=$("#taskId").val();
          var payPic=$("#payPicText").val();
          var data={payPicUrl:payPic,taskId:taskId};
            $.ajax({
                type: 'POST',
                url: "/userCenter/ownTask/updateRobTask",
                data:  JSON.stringify(data),
                success: function (result) {
                    if(result.code==200){
                        layer.msg(result.msg, {icon: 5});
                        setTimeout(function () {
                            var index= parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }, 2000);

                    }else{
                        layer.msg(result.msg, {icon: 1});
                    }
                },
                dataType: 'json',
                contentType: 'application/json'
            });

        });
    });


</script>

<script type="text/html" id="toolBar">
   <!-- <a class="layui-btn layui-btn-sm" lay-event="detail">详情</a>-->
    <a class="layui-btn layui-btn-sm" lay-event="rob">抢单</a>
</script>
<script type="text/html" id="picBar">
    <img src="http://localhost:8088{{d.babyPic}}" style="width: 100px;height:100px;" lay-event="viewPic">
</script>


</body>

</html>